@font-face {
    font-family: 'Caveat';
    font-weight: 700;
    src: url(./fonts/Caveat/static/Caveat-Bold.ttf);
}
@font-face {
    font-family: 'Pacifico';
    font-weight: 400;
    src: url(./fonts/Pacifico/Pacifico-Regular.ttf);
}

body {
    background-color: antiquewhite; 
}

header {
    font-family: Caveat;
    margin: 10px;
    clear: both; 
    position:static;
    font-size: 21px;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.potter-all {
    text-align: center;
}
.potter-all-img {
    width: 20%;
    min-width: 120px;
}

.line {
    text-decoration: underline;
}
.fat {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.rl {
    color: red;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


.sidebar {
    font-size: 15px;
    margin-left: 5px;
    padding: 0;
    flex: 1 1 0;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

li:hover {
    background-color: #8f8f8f;
}
li:hover a {
    color: white;
}
li:active {
    background-color: rgb(161, 255, 224);
    
}

.sec-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.text {
    margin: 0;
    margin-left: 5px;
}


main {
    font-family: Pacifico;
    font-size: 16px;
    margin-right: 5px;
    flex: 6 1 0;
}

#lp1::first-letter, 
#lp2::first-letter, 
#lp3::first-letter {
    color: red;
}

.paragraph {
    padding: 10px;
    min-height: auto;
    margin: 30px;
    overflow: hidden;
}

.imgp {
    width: 12vw;
    float: left;
    margin-right: 10px;
}

.p1 {
    background-color: rgba(222, 184, 135, 0.487);
}
.p2 {
    background-color: rgba(224, 71, 104, 0.487);
}
.p3 {
    background-color: rgba(113, 107, 99, 0.487);
}


footer {
    margin: 10px;
    clear: both;
    box-sizing: border-box;
    bottom: 0;
    position:static;
}

.paragraph-foot {
    margin-left: 5px;
    margin-right: 5px;
}

/* Tablet */
@media screen and (max-width: 770px) {
    h1 {font-size: 32px;}
    h2, .paragraph-head {font-size: 18px;}
    .content {
        flex-direction: column;
    }
    .sidebar {
        order: 2;
        flex: 1 1 0;
        text-align: center;
    }
    .sidebar a {font-size: 13px;}
    .sidebar li {
        text-align: left;
        margin-left: 0;
    }
    ol {
        margin: 0;
        display: inline-block;
    }
    .sec-img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .dimg {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 80px;
        margin-bottom: 0px;
    }
    .popular-heroes {text-align: center;}
    .text {
        margin: 0;
    }
    main {
        order: 1;
        flex: 1 1 0;
    }
    .paragraph {
        margin: 10px;
    }
    #lp1, #lp2, #lp3 {
        margin-top: 0;
    }
    .paragraph-foot {
        margin-left: 0;
        font-size: 14px;
    }
  }

  /* Mobil */
  @media screen and (max-width: 450px) {
    h1 {font-size: 24px;}
    h2, .paragraph-head {font-size: 16px;}
  
    .sidebar a {font-size: 12px;}
    .sidebar li {
        float: none;
        margin-left: 0;
    }
    ol{
        margin: 0;
        padding-left: 20px;
    }
    .imgp {
        float: none;
        min-width: 90px;
    }
    .paragraph-img {
        text-align: center;
    }
    .paragraph {
        margin: 10px;
    }
  }