.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: start;
    align-content: flex-start;
}
.card img {
    width: 18.9vw;
}

.card {
    border: solid 1px rgb(248, 254, 239);
    background-color: rgb(248, 254, 239);
    padding: 1.3vw;
    box-shadow: 0 0 1vw rgb(198, 203, 191);
    margin: 1.5vw;
}

 .cd1:hover {
    transform: scale(1.2);
}

 .cd2:hover {
    transform: perspective(500px) rotate3d(0, 0, 20, 7deg);
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cd3:hover {
    animation: rotate-left 2s 1 both;
}

