body{
    background-color: antiquewhite; 
}

@font-face {
    font-family: 'Caveat';
    font-weight: 700;
    src: url(./fonts/Caveat/static/Caveat-Bold.ttf);
}
@font-face {
    font-family: 'Pacifico';
    font-weight: 400;
    src: url(./fonts/Pacifico/Pacifico-Regular.ttf);
}

header{
    margin: 10px;
}
.font1{
    font-family: Caveat;
    font-size: 21px;
}
h1{
    text-align: center;
    margin-top: 0;
}
.potter-all{
    text-align: center;
}
.line{
    text-decoration: underline;
}
.fat{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.link{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.rl{
    color: red;
}


.sidebar{
    width: 200px;
    float: left;
    font-size: 15px;
    margin-left: 5px;
}
h2{
    text-transform: uppercase;
    text-align: center;
}
li:hover{
    background-color: #8f8f8f;
}
li:hover a{
    color: white;
}
li:active{
    background-color: rgb(161, 255, 224);
    
}
.img-sidbar{
    float: left;
    margin-right: 5px;
}
.dimg{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    overflow: hidden;
}
.text{
    margin: 0;
}


main{
    font-family: Pacifico;
    font-size: 16px;
    margin-left: 200px;
    margin-right: 5px;
}
.r{
    color: red;
}
.imgp{
    float: left;
    margin-right: 10px;
}
.paragraph{
    padding: 10px;
    min-height: auto;
    margin: 30px;
    overflow: hidden;
}
.p1{
    background-color: rgba(222, 184, 135, 0.487);
}
.p2{
    background-color: rgba(224, 71, 104, 0.487);
}
.p3{
    background-color: rgba(113, 107, 99, 0.487);
}

footer{
    margin: 10px;
}
.paragraph-foot{
    margin-left: 5px;
    margin-right: 5px;
}


@media screen and (max-width: 750px) {
    h1 {font-size: 32px;}
    h2{font-size: 18px;}
    .font1 {font-size: 18px;}
    .sidebar {
      width: 100%;
      height: auto;
      /* position: relative; */
    }
    ol {
        display: inline-block;
    }
    .sidebar a{font-size: 13px;}
    .sidebar li {
        float: left;
        margin-left: 20px;
    }
    .popular-heroes{text-align: center;}
    .dimg {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 80px;
        float: none;
    }
    main, .paragraph-foot {
        margin-left: 0;
        font-size: 14px;
    }
   
  }
  
  @media screen and (max-width: 500px) {
    h1 {font-size: 24px;}
    .font1 {font-size: 16px;}
    .sidebar {
      text-align: center;
      float: none;
    }
  }