.container1 {
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}
.container2 {
    margin: 0px 0px 0px 4px;
    font-size: 18px;
    overflow: hidden;
    width: 100%
}
.title {
    margin: 10px 0px 10px 0px;
}
.leveling-blok *{
    margin: 4px 0px 0px 0px;
}
#at, #label-textarea {
    width: 98%;
    border: solid grey 1px;
    margin-top: 1px;
}
#hg {
    width: 99%;
    padding: 1px 2px 1px 2px;
    border: solid grey 1px;
    margin-top: 1px;
}
#pubon label {
    display: block;
}
#input-radio1, #input-radio2, 
#input-radio3, #lx {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
}
.text * {
    display: block;
    margin: 4px 0px 0px 0px;
    clear: both;
}
#butt {
    margin-top: 5px;
}


@media screen and (min-width: 593px) {
    #at {
        width: calc(100% - 221px);
    }
    #hg {
        width: 230px;
    }
    #label-textarea {
        width: 99%;
    }
    #pubon, #pubon label {
        display: inline-block;
    }
    .article-title, .heading, 
    .publication, .label-checkbox {
        line-height: 26px;
    }
    .article-title > label, .heading > label, 
    .publication > label, .label-checkbox > label {
        display: inline-block;
        width: 197px;
        padding-right: 10px;
    }
    .leveling-blok {
        width: 100%;
    }
    .article-title *, .heading *, 
    .publication *, .label-checkbox * {
        margin: 0px;
    }
}
