.container1 {
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}
.container2 {
    margin: 0px 0px 0px 4px;
    font-size: 18px;
    overflow: hidden;
    width: 100%
}
.title {
    margin: 10px 0px 10px 0px;
}
.leveling-blok *{
    margin: 4px 0px 0px 0px;
}
#at, #label-textarea{
    width: 56%;
    border: solid grey 1px;
    margin-top: 1px;
}

#hg {
    width: 56%;
    padding: 1px 2px 1px 2px;
    border: solid grey 1px;
    margin-top: 1px;
}
#pubon {
    width: 76%;
}
#pubon, #pubon label {
    display: inline-block;
}
#input-radio1, #input-radio2, 
#input-radio3, #lx {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
}
.article-title *, .heading *, 
.publication *, .label-checkbox * {
    margin: 0px;
}
.text * {
    display: block;
    margin: 4px 0px 0px 0px;
    clear: both;
}
.article-title, .heading, 
.publication, .label-checkbox {
    clear: both; 
    text-align: right;
    line-height: 25px;
}
.article-title > label, .heading > label, 
.publication > label, .label-checkbox > label {
    float: left;
    padding-right: 15px;
}
.leveling-blok {
    float: left;
}
#lx{
    margin-right: 56%;
}