body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Caveat';
    font-weight: 700;
    src: url(./fonts/Caveat/static/Caveat-Bold.ttf);
}
@font-face {
    font-family: 'Pacifico';
    font-weight: 400;
    src: url(./fonts/Pacifico/Pacifico-Regular.ttf);
}

.font1{
    background-color: aquamarine;
    font-family: Caveat;
    font-size: 21px;
}
h1{
    text-align: center;
    margin-top: 0;
}
.potter-all{
    text-align: center;
}
.paragraph-hed{
    margin-left: 5px;
    margin-right: 5px;
}
.line{
    text-decoration: underline;
}
.fat{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.link{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.rl{
    color: red;
}

aside{
    width: 200px;
    float: left;
    font-size: 15px;
    margin-left: 5px;
}
h2{
    text-transform: uppercase;
    text-align: center;
}
.img-sidbar{
    float: left;
    margin-right: 5px;
}
.dimg{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    overflow: hidden;
}
.text{
    margin: 0;
}

main{
    font-family: Pacifico;
    font-size: 16px;
    margin-left: 200px;
    margin-right: 5px;
}
.r{
    color: red;
}
.imgp{
    float: left;
    margin-right: 10px;
}
.paragraph{
    padding: 10px;
    min-height: auto;
    margin: 30px;
    overflow: hidden;
}
.p1{
    background-color: rgba(222, 184, 135, 0.487);
}
.p2{
    background-color: rgba(224, 71, 104, 0.487);
}
.p3{
    background-color: rgba(113, 107, 99, 0.487);
}